body{
    /* background: #5c3b54; */
    background-color: white;
    width:100%;
    height: 100%;
    padding: 0px;
    margin: 0 auto
    /* color: white */
}
.footer-bg{
    background:rgb(101, 104, 105);
}
.m_f{
    margin-top: 100px
}
.footer-image{
    height: 80px;
    width: 80px;
}
.play-icons{
    font-size: 20px;
    color: whitesmoke;
    margin-left: 300px;
    padding-left: 30px
}
.mute-range{
    margin-left: 300px;
    color: white
}
#range{
    background-color: black
} 
.well{
    background-color:  rgb(61, 51, 51);
    height: 300px
}
/* 


.track-img{
    height: 200px;
} */
/*
/* .well:hover{
    background-color: lightgray
} */